body {
  margin: 0;
  font-size: 14px;
}

// 原生滚动条
body {
  // 宽度
  // & ::-webkit-scrollbar {
  //   width: 10px;
  // }

  // 滑块
  // & ::-webkit-scrollbar-thumb {
  //   // background: var(--cjui-top-header-color);
  //   border-radius: 10px;
  // }

  // 轨道
  // & ::-webkit-scrollbar-track {
  // }
}

div {
  box-sizing: border-box;
}
